@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

.home .feature
    display flex
    flex-basis 100% !important
    max-width 100% !important
    flex-direction row
    align-items center
    justify-content space-evenly
    margin 2rem 1.5rem
    text-align center


#feature-clean, #feature-powerful
    flex-direction row
    img
        margin-right 2.5rem

#feature-fast
    flex-direction row-reverse

    img
        margin-left 2.5rem