$accentColor = #00aed8
$accentDarkColor = lighten($accentColor, 50%)
$textColor = #2c3e50
$textDarkColor = #e3e3e3
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #00aed8

$codeDarkColor = lighten(#00c1f0, 50%)

$tipGreen = #39a171
$warningYellow = #d3bc53

.site-name, #main-title
    font-family 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    font-weight 400

.search-box input
    transition border-color 0.2s ease

.yuu-theme-dark 
    
    color $textDarkColor

    a, .page-edit .edit-link a
        color $accentDarkColor

    .theme-default-content 
        code, a code
            color $codeDarkColor

    .custom-block
        &.tip
            background-color alpha($tipGreen, 0.25)

            a
                color lighten($tipGreen, 70%)
        &.warning
            background-color alpha($warningYellow, 0.25)

    pre.vue-container
        code
            color $textDarkColor

    .nav-links
        a, .dropdown-wrapper .dropdown-title
            &.router-link-active
                color $accentDarkColor
                border-color $accentDarkColor
    
    .search-box
        input
            &:focus
                border-color alpha($accentDarkColor, 0.75)
        .suggestion
            &.focused
                a
                    color $accentDarkColor

    .algolia-search-wrapper .algolia-autocomplete
        .algolia-docsearch-suggestion
            .algolia-docsearch-suggestion--highlight
                .algolia-docsearch-suggestion--subcategory-column
                    color $accentDarkColor

    a.sidebar-link
        &:hover, &.active
            color $accentDarkColor
        &.active
            border-color $accentDarkColor

    #nprogress .bar
        background $accentDarkColor