// overwrites
$accentColor = #00aed8;
$textColor = #2c3e50;
$accentColor = #00aed8;
$borderColor = #eaecef;
$codeBgColor = #282c34;

// dark theme colors
$accentDarkColor = lighten($accentColor, 50%);
$codeDarkColor = lighten(#00c1f0, 50%);
$darkPrimaryBg = #1a1a1a;
$darkSecondaryBg = #2a2a2a;
$darkTextColor = #f3f3f3;
$darkerTextColor = #e3e3e3;
$darkAltTextColor = #b9b9b9;
$darkBorderColor = alpha(#fff, 0.1);

// content block colors
$tipGreenBackground = #39a171;
$tipGreen = #42b983;
$warningYellowBackground = #d3bc53;
$warningYellow = #ffe564;
$dangerRedBackground = #c00;
$dangerRed = #c00;
